<!DOCTYPE html>
<html>
    <head>
        <title>HireMate</title>
        	<link rel = "icon" href = "https://www.bluejeans.com/sites/default/files/use-case-icon-hr.svg" type = "image/x-icon">
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script type="text/javascript" src ="/scripts/script.js"></script>
    </head>

	<body>
		<div id="mySidenav" class="sidenav">
		  <br>
		  <a href="javascript:void(0)" class="closebtn" style="margin-top: 50px; " onclick="closeNav()">&times;</a>
		  <a href="#">About</a>
		  <a href="#">Services</a>
		  <a href="#">Clients</a>
		  <a href="#">Contact</a>
		</div>


		
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  <span class="navbar-toggler-icon btn btn-default nav-item nav-link" onclick="openNav()"></span>
			  <a class="navbar-brand" href="/">HireMate</a>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#">
			        	<svg class="bi bi-envelope-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
						  <path d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"/>
						</svg>
			        </a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">
			        	<svg class="bi bi-people-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
						</svg>
			        </a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
			          User Name
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
				  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
			        </div>
			      </li>
			    </ul>
			  </div>
			</nav>

			<div class="w3-sidebar w3-bar-block" style="width:50px; right:0; padding-top: 60px; background-color: #343a40; ">
			  <a href="#" class="w3-bar-item w3-button right-side" >
			  	<svg class="bi bi-search" width="1.75em" height="1.75em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
				  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
				</svg>
			  </a>
			  <a href="#" class="w3-bar-item w3-button right-side">
			  	<svg class="bi bi-caret-up-fill" width="1.75em" height="1.75em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
				  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
				</svg>
			  	<svg class="bi bi-caret-down-fill" width="1.75em" height="1.75em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
				  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
				</svg>
			  </a>
			  <a href="#" class="w3-bar-item w3-button right-side">
			  	<svg class="bi bi-funnel-fill" width="1.75em" height="1.75em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
				  <path d="M2 3.5v-2h12v2l-4.5 5v5l-3 1v-6L2 3.5z"/>
				  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 012 1h12a.5.5 0 01.5.5v2a.5.5 0 01-.128.334L10 8.692V13.5a.5.5 0 01-.342.474l-3 1A.5.5 0 016 14.5V8.692L1.628 3.834A.5.5 0 011.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 017 8.5v5.306l2-.666V8.5a.5.5 0 01.128-.334L13.5 3.308V2h-11z" clip-rule="evenodd"/>
				</svg>
			  </a>
			</div>

			<div id="main">
			

