<%- include('partials/header.ejs') %>


<% accountManagers.forEach(function(manager){ %>
	<a href="/accountmanager/<%= manager._id %>/jobs">link </a>
	<br>
<% }) %>

<%- include('partials/footer.ejs') %>